[run]
source =
    musclemap
branch = true
dynamic_context = test_function

[paths]
# Enable `coverage combine` to convert long `.tox/**/site-packages/` paths to
# short `src/` paths. The former is a side-effect of running tests using the
# installed package. In the future, this could be replaced by the
# `relative_paths` setting, but that's not working as expected.
source =
    src
    */site-packages
    *\site-packages

[report]
fail_under = 100
show_missing = true

[html]
show_contexts = True
